<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="row">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge" style="background-color: rgb(20,130,110)">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="h5 mt-0 title">Hennessy Industries</div>
                                <div class="h6 mt-0 title">Web Developer (January 2022 - June 2022)</div>
                                <p align="justify" style="color: grey;"><strong>Hennessy Industries is an industry
                                        leading
                                        manufacturer of tire
                                        changer, brake lathe, and wheel balancing machines.</strong></p>
                                <p align="justify">Hired to redevelop the internal Customer Support Requests
                                    application. The major table component is based on the React-Table library
                                    with pagination, search/filtering, sorting, row selection, and sub-row
                                    components.</p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Project</li>
                                    <ul>
                                        <li class="non_list">
                                            Developed dynamic table-based solutions with reusable
                                            components capable of rendering any JSON query result in a uniform,
                                            intuitive design, and can be applied with minimal changes to APIs with
                                            use-case specific Stored Procedures in SQL Server.
                                        </li>
                                    </ul>
                                    <li class="list">Technologies and Languages</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">React</li>
                                                <li class="non_list">JavaScript</li>
                                                <li class="non_list">C# .Net Core</li>
                                                <li class="non_list">Microsoft SQL Server</li>
                                                <li class="non_list">HTML</li>
                                                <li class="non_list">CSS</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Bootstrap</li>
                                                <li class="non_list">React-Table</li>
                                                <li class="non_list">React-Query</li>
                                                <li class="non_list">Entity Framework</li>
                                                <li class="non_list">Axios</li>
                                                <li class="non_list">MVC</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge down">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">Self-Employed</div>
                                <div class="h6 mt-0 title">Freelance Web Developer (2021-2022)</div>
                                <p align="justify">
                                    Developed and redesigned private client websites with a focus on
                                    mobile-friendly, modern design. Preferred frameworks: React and Material-UI; Sanity
                                    CMS; data collection with FormSpark and Firebase.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Meek's Honey</li>
                                    <ul>
                                        <li class="non_list">
                                            <a href="https://meeks-honey-rebuilt-by-nick.netlify.app/" target="_blank"
                                                style="color: rgb(0, 185, 200)">
                                                https://meeks-honey-rebuilt-by-nick.netlify.app/
                                            </a>
                                        </li>
                                        <li class="non_list">
                                            Designing a single-page application to replace their <a
                                                href="http://meekshoney.com/" target="_blank"
                                                style="color: rgb(0, 185, 200)">current website</a> with a refreshing
                                            modern design and contact form.
                                        </li>
                                    </ul>
                                    <li class="list">Inspire Acquire, LLC</li>
                                    <ul>
                                        <li class="non_list">
                                            <a href="https://inspire-acquire.netlify.app/" target="_blank"
                                                style="color: rgb(0, 185, 200)">
                                                https://inspire-acquire.netlify.app/
                                            </a>
                                        </li>
                                        <li class="non_list">
                                            Redeveloping their <a href="http://inspireacquire.com/" target="_blank"
                                                style="color: rgb(0, 185, 200)">old landing page</a>
                                            to reduce the cost of WordPress templates and hosting.
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>