<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2018-2022</p>
                        <p>GPA: 3.8</p>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Software Development and Cloud Computing</div>
                        <h4 class="category">Foothill College</h4>
                        <ul>
                            <li>
                                Principles of Object-Oriented Programming, Web, and Mobile Development
                            </li>
                            <li>
                                Cloud infrastructure & administration on Amazon Web Services
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2011-2015</p>
                        <div class="h5">Bachelor of Arts</div>
                        <p>GPA: 3.65</p>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">B.A. in Anthropology and Organizational Studies</div>
                        <h4 class="category">San Jose State University</h4>
                        <ul>
                            <li>
                                Anthropological analyses of corporate operations, business planning, and expansion into
                                foreign markets.
                            </li>
                            <li>
                                <a href="https://blogs.sjsu.edu/anthropology/2014/12/22/the-analysis-and-temporal-placement-of-the-archaeological-assemblage-from-prehistoric-site-ca-scl-314/"
                                    style="color: rgb(0, 185, 200)" target="_blank">
                                    Awarded College of Social Sciences Foundation Research Grant - 2014
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>