<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true"
                style="background-image: url('assets/images/colorfulwaves.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="profile-image">
                        <a href="#">
                            <img src="assets/images/nicklara.JPG" alt="Nick Lara face smiling" />
                        </a>
                    </div>
                    <div class="h2 title">Nicholas Lara</div>
                    <p class="category text-white">Web Developer</p>
                    <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
                        data-aos-anchor="data-aos-anchor">Hire Me</a>
                    <a class="btn btn-primary"
                        href="https://docs.google.com/document/d/1T6-txIduoiZUIExlQhyYhXl-EKEIt1Bw/edit?usp=sharing"
                        target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Resume</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://linkedin.com/in/greatnicklara" target="_blank" rel="tooltip"
                            title="Connect with me on Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/nickalara"
                            target="_blank" rel="tooltip" title="Check out my Github">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="mailto:nickalara@gmail.com"
                            target="_blank" rel="tooltip" title="Send me an email">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>